---
layout: default
---

<header class="post-header">
    <h1 class="post-title">Schedule</h1>
</header>

{{ content }}

<div class="home" style="font-size: 0.8em;">
    <i>Note: To make a copy in your personal calender, please click on the bottom-right</i> <b>+Google Calender</b>
    <i>icon</i>.
    <iframe
        src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Asia%2FKolkata&showTitle=0&showDate=0&showPrint=0&showCalendars=0&showTz=0&mode=AGENDA&src=ZjQxMjI2NjIwMmYxMmNiZmRlZDc2MWI0NTMwZjhjMDQzZjA4NDM2NjQyOWQwNTJhNmVmN2E5NjQ5Yzg4NzkwMEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23ef6c00"
        style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>