---
layout: default
---

<header class="post-header">
    <h1 class="post-title">Schedule</h1>
</header>

{{ content }}

<div class="home" style="font-size: 0.8em;">
    <!-- <i>Note: To make a copy in your personal calender, please click on the bottom-left</i> <b>+Google Calender</b> -->
    <!-- <i>icon</i>. -->
    <iframe
        src="https://calendar.google.com/calendar/embed?src=375323c4ae841935dc3df3a0d2338049674caa06c81ddc6bd74ccd956c0f3e76%40group.calendar.google.com&ctz=Asia%2FKolkata"
        style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
